.semantic{
  margin: 70px 0 0 0;
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  background-image: url("../images/backgorundcpu.jpg");
  &__layer{
    padding: 23px 0 30px 0;
    background-color: rgba(0, 0, 0, 0.862745);
  }
  &__title{
    font-size: $default-header-size;
    font-family: $headers-font-bold;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-bottom: 15px;
  }
  &__subtitle{
    margin: 11px 0 0 0;
    font-family: $headers-font-regular;
    font-size: $subtitle-size;
    text-align: center;
    color: white;
  }
  &__parts{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin: 50px 0;
    &__item{
      width: 23%;
      .stage{
        font-family: $headers-font-regular;
        font-size: 72px;
        color: $parts-ready-color;
        text-align: center;
        line-height: 82px;
      }
      h6{
        font-family: $headers-font-regular;
        color: white;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px
      }
    }
  }
  &__desc{
    font-family: $headers-font-regular;
    color: white;
    font-size: 16px;
    text-align: center;
  }
}
