@import "bootstrap";
@import "fonts";
@import "advancement";

.main{
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
  background-image: url("../images/complex-bakcground.png");
  width: 100%;
}